<%- include('../partials/header') %>   
<h1 class="mt-5 p-2 text-center">List of Rooms</h1>

<div class="table-responsive p-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>RoomID</th>
        <th>Creator ID</th>
        <th>Target ID</th>
        <th>CreatorChoice 1</th>
        <th>CreatorChoice 2</th>
        <th>CreatorChoice 3</th>
        <th>TargetChoice 1</th>
        <th>TargetChoice 2</th>
        <th>TargetChoice 3</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% rooms.forEach((room) => { %>
        <tr>
          <td><a href="/history/show/<%= room.id %>"><%= room.id %></a></td>
          <td><%= room.creatorId %></td>
          <td><%= room.targetId %></td>
          <td><%= room.creatorChoice1 %></td>
          <td><%= room.creatorChoice2 %></td>
          <td><%= room.creatorChoice3 %></td>
          <td><%= room.targetChoice1 %></td>
          <td><%= room.targetChoice2 %></td>
          <td><%= room.targetChoice3 %></td>
          <td><%= room.createdAt %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
