<%- include('../partials/header') %>   

<h1 class="p-5">Room History</h1>
<div class="table-responsive p-5">
  <% if (history.length > 0) { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Round 1</th>
          <th>Round 2</th>
          <th>Round 3</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        <% history.forEach((h) => { %>
          <tr>
            <td><%= h.firstResult %></td>
            <td><%= h.secondResult %></td>
            <td><%= h.thirdResult %></td>
            <td><%= h.createdAt %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <p>No history available for this room.</p>
  <% } %>
</div>

<%- include('../partials/footer') %> 
