<%- include('../partials/header') %>
<h1 class="mt-5 p-2 text-center">List of Users</h1>
<div class="table-responsive p-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user) => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><a href="/api/user/delete/<%= user.id %>" class="btn btn-danger">Delete</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
